* {
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #f5f5f5;
  background-color: rgb(219, 210, 210);
  font-family: "Gill Sans", Calibri, "Trebuchet MS", sans-serif;
  width: 100%;
  min-height: 100vh;
}
.container {
  height: 100vh;
  background-color: #646464;
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  color: #fff;
  text-align: center;
  font-family: sans-serif;
}
.container-navbar {
  padding: 20px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: black;
  z-index: 10;
}
.navbar-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-list {
  display: flex;
  list-style-type: none;
}
.nav-hover :hover {
  color: rgb(140, 189, 140);
}
.navbarLink {
  text-decoration: none;
  padding: 10px 15px;
  color: #fff;
  font-weight: bold;
}

.myname-title {
  display: flex;
  margin-left: 7rem;
  font-size: 3rem;
  padding-top: 350px;
  font-family: Arial, Helvetica, sans-serif;
}
.nameDesc {
  display: flex;
  margin-left: 7rem;
  font-size: 20px;
  padding-top: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.logo {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  font-family: cursive;
}

/* about */

.main-about {
  width: 80%;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about {
  width: 100%;
  padding: 5rem 0px;
  color: #191919;
}
/* .about img {
  height: auto;
  width: 420px;
  border-radius: 2rem;
  padding: 3rem;
} */
.about-text {
  width: 600px;
}
.about-text h1 {
  color: #000;
  font-size: 3rem;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}
.about-text p {
  color: #000;
  letter-spacing: 1px;
  line-height: 2rem;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 3rem;
  font-family: Arial, Helvetica, sans-serif;
}

.about-text button {
  background: rgb(140, 189, 140);
  color: #000;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 2rem;
  transition: 0.4s;
}
.about-text button:hover {
  background: transparent;
  border: 2px solid #646464;
  cursor: pointer;
}
#github-icon {
  font-size: 36px;
  color: black;
  padding-top: 3px;
  padding-left: 1rem;
}
.social-media {
  display: flex;
  padding-left: 2rem;
}
.animation {
  width: 400px;
  height: 300px;
  background: url(./images/coding.gif) left top;
  animation: play-sprite 10s 3s steps(1) infinite;
}
/* skills */

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}
.my-skill-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
}
.skill-container {
  position: relative;
  max-width: 500px;
  width: 100%;
  background-color: rgb(219, 210, 210);
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 7px;
}
.skill-box {
  width: 100%;
  margin: 25px 0;
}
.skill-title {
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
.skill-bar {
  height: 8px;
  width: 100%;
  border-radius: 6px;
  background: #fff;
  margin-top: 6px;
}
.skill-per {
  position: relative;
  display: block;
  height: 100%;
  width: 90%;
  border-radius: 6px;
  background-color: rgb(140, 189, 140);
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}
@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.skill-per.css {
  width: 90%;
  animation-delay: 0.3s;
}
.skill-per.javascript {
  width: 80%;
  animation-delay: 0.4s;
}
.skill-per.react {
  width: 60%;
  animation-delay: 0.5s;
}
.skill-per.nodejs {
  width: 50%;
  animation-delay: 0.6s;
}
.skill-per.mysql {
  width: 50%;
  animation-delay: 0.7s;
}

.tooltip {
  position: absolute;
  right: -14px;
  top: -28px;
  font-size: 12px;
  font-weight: 500;
  color: #060505;
  padding: 2px 6px;
  border-radius: 3px;
  background: rgb(140, 189, 140);
  z-index: 1;
}
.tooltip::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  background-color: rgb(140, 189, 140);
  transform: translateX(-50%) rotate(45deg);
  z-index: -1;
}

/* project */

.head-project {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  font-size: 2.5rem;
}
.main-info-project {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.card-project {
  display: flex;
  justify-content: center;
}
.cards {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  border: 8px solid #fff;
  position: relative;
  margin: 1rem;
}
.cards:hover .card-body {
  right: 0;
}

.img-project {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-body {
  backdrop-filter: blur(12px);
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  border-radius: 5px;
  font-weight: bold;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 2s;
}
.title-project {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #f7f0f0;
  border-radius: 5px;
}
.info-project {
  font-size: 20px;
  line-height: 25px;
  margin: 40px 0;
  font-weight: 400;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
  border: 1px solid rgb(140, 189, 140);
}
.btn-project {
  color: #000;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: capitalize;
  border: 1px solid rgb(140, 189, 140);
  outline: none;
  font-weight: 500;
  cursor: pointer;
  margin: 2px;
  width: 100%;
  font-weight: bold;
}

.btn-project:hover {
  background-color: rgb(140, 189, 140);
  color: black;
  cursor: pointer;
}

/* contact me */

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
.contact-form {
  width: 300px;
  margin: 1rem;
}

.contact-form div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-contactme {
  margin: 1.5rem;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(80, 80, 80);
  color: #f5f5f5;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
.button-contactme:hover {
  background-color: rgb(140, 189, 140);
  color: black;
}

/* footer */
.footer {
  margin-top: 3rem;
  text-align: center;
  color: #fff;
  padding: 25px 0;
  background: black;
  font-family: sans-serif;
}

@media only screen and (min-width: 700px) {
  .card-project {
    flex-wrap: wrap;
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .main-about {
    flex-wrap: wrap;
  }
  .name-title {
    font-size: 2rem;
  }
  .card-project {
    flex-wrap: wrap;
    width: 100%;
  }
  .my-skills {
    width: 80%;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .my-skills {
    width: 50%;
  }
}
@media only screen and (max-width: 430px) {
  body {
    font-size: 12px;
  }
  .myname-title {
    font-size: 25px;
    padding-top: 170px;
  }
  .info {
    font-size: 15;
  }
}
